<app-header title="Compras" segment=0></app-header>

<ion-content [fullscreen]="true">
  <app-header title="Compras" segment=1></app-header>
  <div [ngClass]="{'webrowser':!isMobile}">
    <div *ngIf="!hasPurchases">
      <p class="ion-text-center">Nenhuma {{(purchasePage) ? "compra" : "venda"}} realizada.</p>
    </div>
    <ion-list *ngIf="hasPurchases">
      <ng-container *ngFor="let purchase of purchasesObjs;">
        <ion-item routerLink="/purchase/{{purchase.purchase.id}}">
          <img *ngIf="purchase.exemploProduct.gallery?.length > 0" [src]="purchase.exemploProduct.gallery[0]" [alt]="purchase.exemploProduct.name">
          <ion-label>
            <h2>Status: {{StateToString(purchase.purchase.state)}} </h2>
            <h3>Data: {{purchase.purchase.date.toLocaleString()}}</h3>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
</ion-content>