<app-header [title]="title" segment=0></app-header>

<ion-content [fullscreen]="true">
  <app-header [title]="title" segment=1></app-header>
  <div [ngClass]="{'webrowser':!isMobile}" class="ion-margin">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let photo of product.gallery; let i = index">
        <ion-img [src]="photo"></ion-img>
      </ion-slide>
    </ion-slides>
    <h2>{{product.name}}</h2>
    <p>
      <span class="tooltip"> Avaliação: {{(product.avgReview || product.avgReview == 0 )? (product.avgReview + "%") : "Nenhum"}}
        <span class="tooltiptext tooltip-top">
          <ion-badge class="badge-bottom" color="success" mode="ios" >{{positivos}}</ion-badge> - 
          <ion-badge class="badge-bottom" color="danger" mode="ios">{{negativos}}</ion-badge>
        </span>
      </span>
    </p>
    <p>{{product.price | currency:'BRL'}}</p>
    <ion-button [disabled]="(1 > product.stock) || (loggedUser && loggedUser.id == product.sellerID)" (click)="AddToCart()">Adicionar no carrinho</ion-button>
    <h3 >Descrição:</h3>
    <p>
      <ion-text>{{product.description}}</ion-text>
    </p>
    <ion-row class="ion-padding-vertical ion-align-items-center ion-justify-content-start" id="product-seller">
      <img *ngIf="!SellerUser.photo" id="sellerimage" src="../../../assets/perfil.png"
        routerLink="/profile/{{product.sellerID}}">
      <img *ngIf="SellerUser.photo" id="sellerimage" [src]="SellerUser.photo"
        routerLink="/profile/{{product.sellerID}}">
      <ion-label routerLink="/profile/{{product.sellerID}}">
        <h3>Vendedor: </h3>
        <h2>{{SellerUser.name}}</h2>
      </ion-label>
    </ion-row>
    <div class="ion-margin-vertical" *ngIf="loggedUser">
      <ion-item>
        <ion-label position="floating">Duvida? faça uma pergunta</ion-label>
        <ion-textarea name="question" [(ngModel)]=question required autoGrow=true></ion-textarea>
        <ion-row class="ion-justify-content-end commentButtons">
          <ion-button class="leftCommentButton" expand=full size="small" (click)="submitButton();"
            >Enviar</ion-button>
          <ion-button class="rightCommentButton" expand=full size="small" (click)="cancelButton();">Cancel</ion-button>
        </ion-row>
      </ion-item>
    </div>
    <ion-item *ngIf="!hasQuestions">
      <ion-label>Sem perguntas</ion-label>
    </ion-item>
    <div *ngIf="hasQuestions">
        <h4>Perguntas:</h4>
        <ng-container *ngFor="let asked of questions; let i=index">
          <ion-card *ngIf="i < loadQuestions">
            <ion-card-header>
              <ion-card-title>{{asked.user.name}}</ion-card-title>
              <ion-card-subtitle>{{asked.date.toLocaleString()}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{asked.text}}
            </ion-card-content> 
            <div *ngIf="asked.hasReply">
              <a style="text-align: end; margin-left: 10px;">Resposta do vendedor</a>
              <ion-card-header>
                <ion-card-title>{{SellerUser.name}}</ion-card-title>
                <ion-card-subtitle>{{asked.replyDate.toLocaleString()}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{asked.vendorText}}
              </ion-card-content>
            </div>
            <ng-container *ngIf="product.sellerID == loggedUser.id">
              <ion-item *ngIf="!asked.hasReply">
                <ion-input name="reply" [(ngModel)]=asked.vendorText required autoGrow=true></ion-input>
                <ion-row class="ion-justify-content-end commentButtons">
                  <ion-button class="leftCommentButton" expand=full size="small" (click)="submitReply(asked.id, asked.vendorText)"
                    >Responder</ion-button>
                  <ion-button class="rightCommentButton" expand=full size="small">Cancelar</ion-button>
                </ion-row>
              </ion-item>
              </ng-container>
        </ion-card>
      </ng-container>
        <ion-button expand=full size="small" (click)="loadingMoreQuestions()"
                    >Carregar mais perguntas.</ion-button>
        <ion-button expand=full size="small" *ngIf="loadQuestions > 2" (click)="hideQuestions()"
                    >Esconder Perguntas.</ion-button>
    </div>

    <ion-item *ngIf="!hasReviews">
        <ion-label>Produto sem avaliações</ion-label>
    </ion-item>
    <div *ngIf="hasReviews">
      <ion-text class="reviewsTitle">Avaliações:</ion-text>
      
      <div class="reviews" *ngFor="let review of product.reviews; let i=index">
        <ng-container *ngIf="i < loadReviews">
        <ion-row class="ion-justify-content-between">
          <ion-row class="ion-align-items-center">
            <ion-badge class="reviewThumb" color="{{(review.recommend) ? 'success' : 'danger'}}"><ion-icon size="large" color="dark" name="thumbs-{{(review.recommend) ? 'up' : 'down'}}-sharp"></ion-icon></ion-badge>
            <ion-text>{{review.title}}</ion-text>
          </ion-row>
          <div class="ion-text-end">
            <ion-note>{{review.date.toLocaleString()}}</ion-note>
          </div>
        </ion-row>
        <div class="reviewText">
          <ion-text>{{review.text}}</ion-text>
        </div>
      </ng-container>
      </div>
      <ion-button expand=full size="small" (click)="loadingMoreReviews()"
                    >Carregar mais Reviews de usuários.</ion-button>
        <ion-button expand=full size="small" *ngIf="loadReviews > 2" (click)="hideReviews()"
                    >Esconder reviews.</ion-button>
    </div>
  </div>
</ion-content>