<app-header title="Titulo" segment=0></app-header>

<ion-content [fullscreen]="true">
  <app-header title="Titulo" segment=1></app-header>
  <div [ngClass]="{'webrowser':!isMobile}">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let photo of product.gallery; let i = index">
        <ion-img [src]="photo"></ion-img>
      </ion-slide>
    </ion-slides>
    <h2 class="ion-margin">{{product.name}}</h2>
    <p class="ion-margin">
      {{product.price | currency:'BRL'}}
    </p>
    <ion-button [disabled]="(1 > product.stock) || (loggedUser && loggedUser.id == product.sellerID)" (click)="AddToCart()" class="ion-margin">Adicionar no carrinho</ion-button>
    <h3 class="ion-margin">Descrição:</h3>
    <p class="ion-margin">
      <ion-text>{{product.description}}</ion-text>
    </p>
      <h4 routerLink="/profile/{{product.sellerID}}" style="text-align: center;">Vendedor:{{SellerUser.name}}<span> - Perfil do Vendedor</span></h4>
      

        <ion-item *ngIf="verifyReviews">
           <ion-label>Produto sem avaliações</ion-label>
           <ion-badge color="danger">--<ion-icon name="thumbs-up-sharp"></ion-icon></ion-badge>
           <ion-badge color="danger">--<ion-icon name="thumbs-down-sharp"></ion-icon></ion-badge>
           
           
        </ion-item>
        <ng-container *ngIf="!verifyReviews">
          <ion-badge color="danger" *ngIf="reviews.recommend == true"><ion-icon name="thumbs-up-sharp"></ion-icon></ion-badge>
          <ion-badge color="danger" *ngIf="reviews.recommend == false"><ion-icon name="thumbs-up-sharp"></ion-icon></ion-badge>
          <ion-item  lines="inset" *ngFor="let review of reviews;">
            <ion-label>{{review.title}}</ion-label>
            <p>{{review.date}}</p>
            <ion-text>{{review.text}}</ion-text>
          </ion-item>
        </ng-container>
    
    

  </div>
</ion-content>