<app-header [title]="title" segment=0></app-header>

<ion-content [fullscreen]="true">
  <app-header [title]="title" segment=1></app-header>
  
  <ion-refresher slot="fixed" (ionRefresh)="RefreshContent($event)">
    <ion-refresher-content pullingIcon="bubbles" refreshingSpinner="bubbles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item lines="inset" *ngFor="let product of products;" routerLink="/product/{{product.id}}">
      <img *ngIf="product.gallery?.length > 0" [src]="product.gallery[0]" [alt]="product.name">
      <ion-label>
        <h2>{{product.name}}</h2>
        <h3>{{product.price | currency:'BRL' }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
