<app-header [title]="title" segment=0></app-header>

<ion-content [fullscreen]="true">
  <app-header [title]="title" segment=1></app-header>
  <ion-refresher slot="fixed" (ionRefresh)="RefreshContent($event)">
    <ion-refresher-content pullingIcon="bubbles" refreshingSpinner="bubbles">
    </ion-refresher-content>
  </ion-refresher>
  <div [ngClass]="{'webrowser':!isMobile}">
    <div *ngIf="!isMobile" style="padding-bottom: .3rem;">{{title}}</div>
    <ion-list>
      <div style="width: 40%; margin-left: 58%; text-align: right;" *ngIf="products && products.length > 0">
        <ion-select name="sort" interface="popover" [(ngModel)]=sorting (ngModelChange)="sortListing()" placeholder="Ordenar">
          <ion-select-option [value]="0">Maior preço</ion-select-option>
          <ion-select-option [value]="1">Menor preço</ion-select-option>
          <ion-select-option [value]="2">Avaliação</ion-select-option>
        </ion-select>
      </div>
      <div style="text-align: center;" *ngIf="!products || (products && 1 > products.length)">Nenhum item encontrado.</div>
      <ion-item lines="inset" *ngFor="let product of products;" routerLink="/product/{{product.id}}">
        <img [src]="(product.gallery?.length > 0) ? product.gallery[0] : 'assets/sem-foto.png'" [alt]="product.name">
        <ion-label>
          <h2>{{product.name}}<span style="font-size: .75rem;" class="ion-float-right">Avaliação: {{(product.avgReview || product.avgReview == 0 )? (product.avgReview + "%") : "Nenhum"}}</span></h2>
          <h3><s>{{product.price | currency:'BRL' }}</s><span *ngIf="product.price*.8 >= 50" style="font-size: .75rem;" class="ion-float-right">Frete grátis</span></h3>
          <h3>{{product.price *.8 | currency:'BRL' }} à vista</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
