<app-header title="Anúncios" segment=0></app-header>

<ion-content [fullscreen]="true">
  <app-header title="Anúncios" segment=1></app-header>
  
  <div [ngClass]="{'webrowser':!isMobile}">
    <div *ngIf="!isMobile" style="padding-bottom: .3rem;">Anúncios</div>
    <ion-list>
      <div style="text-align: center;" *ngIf="!adverts || (adverts && 1 > adverts.length)">Nenhum item encontrado.</div>
      <ion-item lines="inset" *ngFor="let product of adverts;" routerLink="/productForm/{{product.id}}">
        <img *ngIf="product.gallery?.length > 0" [src]="product.gallery[0]" [alt]="product.name">
        <ion-label>
          <h2>{{product.name}}<span style="font-size: .75rem;" class="ion-float-right">Stock: {{product.stock}}</span></h2>
          <h3>{{product.price | currency:'BRL' }}<span style="font-size: .75rem;" class="ion-float-right">Avaliação: {{(product.avgReview || product.avgReview == 0 )? (product.avgReview + "%") : "Nenhum"}}</span></h3>
          <h4>{{(product.verified) ? "Verificado" : "Não Verificado"}}</h4>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>