<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="isMobile">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content style="height: 100%;">
        <ion-list id="normal-user-list" style="height: auto !important; min-height: 92%;">
          <ion-menu-toggle *ngIf="firebaseAns" auto-hide="false">
            <ion-item routerLink="/profile">
              <img id="userimage" *ngIf="user && !user.photo" src="../assets/perfil.png">
              <img id="userimage" *ngIf="user && user.photo" [src]="user.photo">
              <ion-list-header *ngIf="user">{{ user.name }}</ion-list-header>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="!firebaseAns" auto-hide="false">
            <ion-item routerLink="/login">
              <ion-icon ios="log-in-outline" md="log-in-sharp"></ion-icon>
              <ion-list-header>Log In</ion-list-header>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/" lines="none">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="ShowCategoriesModal()" lines="none">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Departamentos</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="!firebaseAns">
            <ion-item routerLink="/account" lines="none">
              <ion-icon slot="start" name="help-circle"></ion-icon>
              <ion-label>Registre-se</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="firebaseAns" auto-hide="false">
            <ion-item button lines="none" routerLink="/cart">
              <ion-icon slot="start" ios="cart-outline" md="cart-sharp"></ion-icon>
              <ion-label>Carrinho<ion-badge color="warning" class="cartBadge" mode="ios" *ngIf="cartItens && cartItens > 0">{{cartItens}}</ion-badge></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="firebaseAns">
            <ion-item button lines="none">
              <ion-icon slot="start" ios="mail-outline" md="mail-sharp"></ion-icon>
              <ion-label>Minhas Mensagens</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="firebaseAns">
            <ion-item button lines="none">
              <ion-icon slot="start" ios="cart-outline" md="cart-sharp"></ion-icon>
              <ion-label>Minhas Compras</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-row *ngIf="firebaseAns" class="ion-justify-content-center">
          <ion-item (click)="logout()" id="logout">
            <ion-icon ios="log-in-outline" md="log-in-sharp"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-row>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <div contentId="main-content" *ngIf="!isMobile">
    <ion-row class="header ion-align-itens-center">
        <ion-col>
          <ion-item routerLink="/" lines="none" (click)="dropdown = false">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item button (click)="ShowCategories($event)">
            <ion-label>Departamentos</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              space for serachbar
            </ion-label>
          </ion-item>
            <!-- <ion-searchbar placeholder="Pesquisar"></ion-searchbar> essa searchbar buga
            e some quando esta acima do ion-router-outlet -->
          </ion-col>
        <ion-col size="3" (mouseleave)="dropdown = false">
          <!-- item que chama dropdown de user -->
          <ion-item button #userbtn (mouseenter)="dropdown = true" 
          class="dropdown-btn" routerdirection="root" routerLinkActive="active-item" *ngIf="!user">
          <ion-icon slot="end" [name]="dropdown ? 'chevron-down' : 'chevron-up'"></ion-icon>
            <ion-label>Novo Aqui?</ion-label>
          </ion-item>
           <ion-item button #userbtn (mouseenter)="dropdown = true"
          class="dropdown-btn" routerdirection="root" routerLinkActive="active-item" *ngIf="user">
            <ion-icon slot="end" [name]="dropdown ? 'chevron-down' : 'chevron-up'"></ion-icon>
            <img id="userimage" *ngIf="user && !user.photo" src="../assets/perfil.png">
            <img id="userimage" *ngIf="user && user.photo" [src]="user.photo">
            <ion-list-header>{{ user.name }}</ion-list-header>
            <ion-badge color="warning" class="cartBadge" mode="ios" *ngIf="!dropdown && cartItens && cartItens > 0">{{cartItens}}</ion-badge>
          </ion-item>
          <!-- dropdown do user -->
           <div *ngIf="dropdown" class="dropdown" #dropdownbox>
            <ion-item button lines="none" routerLink="/profile" *ngIf="firebaseAns" (click)="dropdown = false">
              <ion-icon slot="start" ios="person-circle-outline" md="person-circle-sharp"></ion-icon>
              <ion-label>Meu Perfil</ion-label>
            </ion-item>
            <ion-item button lines="none" routerLink="/cart" *ngIf="firebaseAns" (click)="dropdown = false">
              <ion-icon slot="start" ios="cart-outline" md="cart-sharp"></ion-icon>
              <ion-label>Carrinho<ion-badge color="warning" class="cartBadge" mode="ios" *ngIf="cartItens && cartItens > 0">{{cartItens}}</ion-badge></ion-label>
            </ion-item>
            <ion-item button lines="none" *ngIf="firebaseAns" (click)="dropdown = false">
              <ion-icon slot="start" ios="cart-outline" md="cart-sharp"></ion-icon>
              <ion-label>Minhas Compras</ion-label>
            </ion-item>
            <ion-item button lines="none" *ngIf="firebaseAns" (click)="dropdown = false">
              <ion-icon slot="start" ios="mail-outline" md="mail-sharp"></ion-icon>
              <ion-label>Minhas Mensagens</ion-label>
            </ion-item>
            <ion-item routerLink="/login" lines="none" *ngIf="!firebaseAns" (click)="dropdown = false">
              <ion-icon slot="start" ios="log-in-outline" md="log-in-sharp"></ion-icon>
              <ion-label>Log In</ion-label>
            </ion-item>
          <ion-item routerLink="/account" lines="none" *ngIf="!firebaseAns" (click)="dropdown = false">
            <ion-icon slot="start" name="help-circle"></ion-icon>
            <ion-label>Registre-se</ion-label>
          </ion-item>
          <ion-item button (click)="logout()" lines="none" *ngIf="firebaseAns" (click)="dropdown = false">
            <ion-icon slot="start" ios="log-in-outline" md="log-in-sharp"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
          </div>
        </ion-col>
    </ion-row>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</div>

</ion-app>