img {
    border-radius: 10%;
    height: 40px;
    width: 40px;
    margin: 0px 7px 0 0 ;
} 

.webrowser{
    text-align: center;
    width: var(--maxWidth); 
    margin:0 auto; 
    padding-top: 1rem;
}

#optionRight {
    margin: 0 .9rem 0 1rem;
}